[Unit]
Description=Gunicorn instance to serve uo regulations pdf translate system
After=network.target

[Service]
User=NE025
Group=www-data
WorkingDirectory=/home/NE025/pdf_ocr_translate
Environment="PATH=/home/NE025/pdf_ocr_translate/.venv/bin:/usr/bin"
EnvironmentFile=/home/NE025/pdf_ocr_translate/.env
ExecStart=/home/NE025/pdf_ocr_translate/.venv/bin/gunicorn --workers 4 --worker-class gthread --threads 4 --timeout 300 --bind unix:uo_regulations_translate.sock --user NE025 --group www-data -m 007 --error-logfile - wsgi:app
